.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
inst/doc
/doc/
/reports/
/dev/
/Meta/
/manuscript/
*.pdf
*.Rcheck/
.Rcheck/
*.md
!STATUS.md
!NEWS.md
!README.md
!cran-comments.md
.DS_Store
Makefile
/simtte-manuscript-submission/